@import "compass/reset";
@import "compass/css3";

@mixin breakpoint($point) {
  @if $point == large {
    @media (min-width: 1650px) {
      @content;
    }
  } @else if $point == medium {
    @media (max-width: 1221px) {
      @content;
    }
  } @else if $point == small {
    @media (max-width: 767px) {
      @content;
    }
  }
}

body {
  display: flex;
  flex-direction: column;
  min-height: calc(100vh - 4em);
  font-family: "Source Code Pro", monospace;
  font-size: 100%;
  line-height: 1.5em;
  margin: 2em;
}

/* title styles */
h1 {
  font-size: 1.5em;
  line-height: 1em;
  margin-bottom: 0.5em;
  width: 100%;
}

/* navigation styles */
nav {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin: 0 0 1em;
  position: fixed;

  @include breakpoint(medium) {
    flex-direction: row;
    position: relative;
  }

  a {
    color: #0000ee;
    font-weight: 600;
    margin-bottom: 0.2em;
    margin-right: 0.75em;
    font-size: 1.15em;
  }

  .active {
    color: #551a8b;
  }
}

/* dev gallery styles */
.dev-gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 auto;
  max-width: 800px;
  width: 100%;

  @include breakpoint(large) {
    max-width: 1200px;
  }

  @include breakpoint(medium) {
    margin: 0;
    max-width: 1000px;
  }

  .gallery-item {
    width: 47.5%;
    margin-bottom: 2.5em;

    @include breakpoint(medium) {
      width: 31%;
    }

    @include breakpoint(small) {
      width: 100%;
    }
  }

  .gallery-img-wrapper {
    overflow: hidden;
    margin-bottom: 0.35em;

    img {
      width: 100%;
      height: 100%;
    }
  }

  .desc-item {
    a {
      color: #0000ee;
    }
  }
}

.dev-gallery::after {
  content: "";
  margin-right: 378px;
}

/* photo gallery styles */
.photo-gallery {
  margin: 0 auto;
  max-width: 650px;
  width: 100%;

  @include breakpoint(large) {
    max-width: 850px;
  }

  @include breakpoint(medium) {
    max-width: 100%;
  }

  .gallery-item {
    margin-bottom: 3em;
  }

  .gallery-img-wrapper {
    line-height: 0;
    margin-bottom: 0.5em;

    img {
      width: 100%;
      height: 100%;
    }

    .lazyload,
    .lazyloading {
      opacity: 0;
    }

    .lazyloaded {
      opacity: 1;
      transition: opacity 0.5s;
    }
  }

  .caption {
    text-align: center;
  }
}

/* about page styles */
.about-text,
.various-items {
  margin: 0 auto 2em;
  max-width: 600px;
  padding-top: 0.25em;

  @include breakpoint(medium) {
    margin: 0 0 2em;
    padding-top: 0;
  }

  a {
    color: #0000ee;
  }
}

/* shared text and misc styles */
.group-title {
  font-weight: 600;
  text-transform: uppercase;

  &:first-of-type {
    padding-top: 0.25em;

    @include breakpoint(medium) {
      padding-top: 0;
    }
  }
}

.group-desc {
  font-weight: 300;
  margin-bottom: 1em;
}

strong {
  font-weight: 600;
}

.various-items {
  .group-title:not(:first-of-type) {
    margin-top: 3em;
  }

  ul {
    list-style: disc;
    margin-block-end: 1em;
    margin-block-start: 1em;
    margin-inline-end: 0px;
    margin-inline-start: 0px;
    padding-inline-start: 40px;
  }
}

footer {
  margin-top: auto;
}
