@font-face {
  font-family: 'Source Code Pro';
  font-style: normal;
  font-weight: 300;
  src: local('Source Code Pro Light'), local('SourceCodePro-Light'),
    url('../fonts/source-code-pro-v11-latin-300.woff2') format('woff2'),
    url('../fonts/source-code-pro-v11-latin-300.woff') format('woff');
}
@font-face {
  font-family: 'Source Code Pro';
  font-style: normal;
  font-weight: 400;
  src: local('Source Code Pro Regular'), local('SourceCodePro-Regular'),
    url('../fonts/source-code-pro-v11-latin-regular.woff2') format('woff2'),
    url('../fonts/source-code-pro-v11-latin-regular.woff') format('woff');
}
@font-face {
  font-family: 'Source Code Pro';
  font-style: normal;
  font-weight: 600;
  src: local('Source Code Pro SemiBold'), local('SourceCodePro-SemiBold'),
    url('../fonts/source-code-pro-v11-latin-600.woff2') format('woff2'),
    url('../fonts/source-code-pro-v11-latin-600.woff') format('woff');
}

@mixin breakpoint($point) {
  @if $point == large {
    @media (min-width: 1700px) {
      @content;
    }
  } @else if $point == medium-up {
    @media (min-width: 1220px) {
      @content;
    }
  } @else if $point == medium {
    @media (max-width: 1221px) {
      @content;
    }
  } @else if $point == small {
    @media (max-width: 767px) {
      @content;
    }
  }
}

body {
  background-color: #eaeaea;
  color: #333;
  display: flex;
  flex-direction: column;
  min-height: calc(100vh - 4em);
  font-family: 'Source Code Pro', 'Courier New', Courier, monospace;
  font-size: 100%;
  line-height: 1.5em;
  margin: 2em;
}

a {
  color: #00e;

  &.active {
    color: #551a8b;
  }
}

/* title styles */
h1 {
  font-size: 1.5em;
  line-height: 1em;
  margin-bottom: 0.5em;
  margin-top: 0;
  width: 100%;
}

/* navigation styles */
nav {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin: 0 0 1em;
  position: fixed;

  @include breakpoint(medium) {
    flex-direction: row;
    position: relative;
  }

  a {
    margin-bottom: 0.1em;
    margin-right: 0.75em;
  }
}

/* dev gallery styles */
.dev-gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 auto;
  max-width: 800px;
  width: 100%;

  @include breakpoint(large) {
    max-width: 1200px;
  }

  @include breakpoint(medium) {
    margin: 0;
    max-width: 1000px;
  }

  .gallery-item {
    width: 47.5%;
    margin-bottom: 2.5em;

    @include breakpoint(medium) {
      width: 31%;
    }

    @include breakpoint(small) {
      width: 100%;
    }
  }

  .gallery-img-wrapper {
    overflow: hidden;
    margin-bottom: 0.35em;

    img {
      border: 0.165em solid #fff;
      box-sizing: border-box;
      height: 256px;
      width: 100%;

      @include breakpoint(large) {
        height: 382px;
      }

      @include breakpoint(medium) {
        height: 100%;
      }
    }
  }
}

.dev-gallery::after {
  content: '';
  margin-right: 378px;
}

/* photo gallery styles */
.photo-gallery {
  margin: 0 auto;
  max-width: 650px;
  width: 100%;

  @include breakpoint(large) {
    max-width: 850px;
  }

  @include breakpoint(medium) {
    max-width: 100%;
  }

  .gallery-item {
    margin-bottom: 3em;
  }

  .gallery-img-wrapper {
    line-height: 0;
    margin-bottom: 0.5em;

    img {
      width: 100%;
      height: 100%;
    }

    .lazyload,
    .lazyloading {
      opacity: 0;
    }

    .lazyloaded {
      opacity: 1;
      transition: opacity 0.5s;
    }
  }

  .caption {
    text-align: center;
  }
}

/* about page styles */
.about-text,
.various-items {
  margin: 0 auto 2em;
  max-width: 600px;
  padding-top: 0.25em;

  @include breakpoint(medium) {
    margin: 0 0 2em;
    padding-top: 0;
  }
}

/* shared text and misc styles */
.group-title {
  font-weight: 600;
  margin-bottom: 0.65em;
  text-transform: uppercase;

  &:first-of-type {
    @include breakpoint(medium-up) {
      margin-top: 0;
      padding-top: 0.125em;
    }

    @include breakpoint(medium) {
      padding-top: 0;
    }
  }
}

.group-desc {
  font-weight: 300;
  margin: 0;
  margin-bottom: 1em;
}

strong {
  font-weight: 600;
}

.various-items {
  .group-title:not(:first-of-type) {
    margin-top: 3em;
  }

  ul {
    list-style: disc;
    margin-block-end: 1em;
    margin-block-start: 1em;
    margin-inline-end: 0px;
    margin-inline-start: 0px;
    padding-inline-start: 40px;
  }
}

footer {
  margin-top: auto;
}
